.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1) !important;
  transition-property: color,background-color,border-color,box-shadow !important;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  padding: 0.5rem 0.5rem;
  font-size: 0.950rem;
  border-radius: 0.25rem;
  appearance: button;
  -webkit-appearance: button;
  -moz-appearance: button;
  justify-content: center;
}
.btn-secret-reveal {
  position: absolute;
  top: 26%;
  right: 2%;
  cursor: pointer;
  background: transparent;
  border: transparent;
  z-index: 4;
}
.btn-close {
  background: transparent url("svgs/x-mark.svg") center/1em auto no-repeat;
}
.btn-close:focus {
  box-shadow: none;
}
.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.25rem;
}
