.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1) !important;
  transition-property: color,background-color,border-color,box-shadow !important;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  padding: 0.5rem 0.5rem;
  font-size: 0.950rem;
  border-radius: 0.25rem;
  appearance: button;
  -webkit-appearance: button;
  -moz-appearance: button;
  justify-content: center;
}
.btn-secret-reveal {
  position: absolute;
  top: 26%;
  right: 2%;
  cursor: pointer;
  background: transparent;
  border: transparent;
  z-index: 4;
}
.btn-close {
  background: transparent url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24' fill='%23586069'><path d='M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z' /></svg>") center/1em auto no-repeat;
}
.btn-close:focus {
  box-shadow: none;
}
.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.25rem;
}
