.dropdown-menu {
  font-size: inherit;
}
header .dropdown-menu.show {
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: slide-in;
  animation-name: slide-in;
}
.navbar-nav .dropdown-menu {
  position: absolute !important;
}
.dropdown-toggle::after {
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}
.dropdown-toggle.show::after {
  transform: rotate(180deg);
}
.dropdown-item {
  color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  display: inline-flex;
  align-items: center;
  gap: .5rem;
}
.dropdown-menu::before, .dropdown-menu::after {
  position: absolute;
  display: inline-block;
  content: "";
}
