.dropdown-menu {
  font-size: inherit;
  --bs-dropdown-padding-x: 0.5rem;
  --bs-dropdown-border-radius: 0.25rem;
  --bs-dropdown-item-padding-x: 0.5rem;
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-item-border-radius: 0.25rem;
  --bs-dropdown-divider-margin-y: 0.25rem;
  --bs-dropdown-header-padding-x: 0.25rem;
  --bs-dropdown-header-padding-y: 0.25rem;
}
.dropdown-toggle::after {
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
  border: none;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24' fill='%23586069'><path fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 9.29289C5.68342 8.90237 6.31658 8.90237 6.70711 9.29289L12 14.5858L17.2929 9.29289C17.6834 8.90237 18.3166 8.90237 18.7071 9.29289C19.0976 9.68342 19.0976 10.3166 18.7071 10.7071L12.7071 16.7071C12.5196 16.8946 12.2652 17 12 17C11.7348 17 11.4804 16.8946 11.2929 16.7071L5.29289 10.7071C4.90237 10.3166 4.90237 9.68342 5.29289 9.29289Z' /></svg>");
  width: 1rem;
  height: 1rem;
}
.dropdown-toggle.show::after {
  transform: rotate(180deg);
}
.dropdown-item {
  color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  margin: 2px auto;
}
.dropdown-menu::before, .dropdown-menu::after {
  position: absolute;
  display: inline-block;
  content: "";
}
.dropdown-menu.show[data-bs-popper="static"] {
  animation: slideDownAndFade 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}
.dropdown-item-checked {
  position: relative;
  padding-right: 30px;
}
.dropdown-item-checked::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24' fill='%23586069'><path d='M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10s10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8s8 3.589 8 8s-3.589 8-8 8z' /><path d='M9.999 13.587L7.7 11.292l-1.412 1.416l3.713 3.705l6.706-6.706l-1.414-1.414z' /></svg>");
}
