:not(.form-floating) > .form-label, .form-check-label, .col-form-label {
  font-weight: 600;
  vertical-align: middle;
}
.form-check-input {
  margin-top: 0.3em;
}
.form-control, .form-select {
  font-size: 0.875rem !important;
  border-radius: 0.25rem;
}
.form-select, input[list] {
  background-image: url("svgs/select-list-arrow.svg");
  background-repeat: no-repeat;
  background-position: right .9rem center;
  background-size: 16px;
}
