:not(.form-floating) > .form-label, .form-check-label, .col-form-label {
  font-weight: 600;
  vertical-align: middle;
}
.form-check-input {
  margin-top: 0.3em;
}
.form-control, .form-select {
  font-size: 0.950rem !important;
  border-radius: 0.25rem;
}
.form-select, input[list] {
  background-image: url("svgs/select-list-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 0.9rem center;
  background-size: 16px;
}
input[type="date"]::-webkit-calendar-picker-indicator, input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24' fill='%23586069'%3E%3Cpath fill-rule='evenodd' d='M7 2a1 1 0 0 1 1 1v1h8V3a1 1 0 1 1 2 0v1.126c1.725.444 3 2.01 3 3.874v10a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4V8a4.002 4.002 0 0 1 3-3.874V3a1 1 0 0 1 1-1zm0 4a2 2 0 0 0-2 2v1h14V8a2 2 0 0 0-2-2H7zm12 5H5v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-7z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
input[type="time"]::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24' fill='%23586069'%3E%3Cpath fill-rule='evenodd' d='M12 6a1 1 0 0 1 1 1v5a1 1 0 0 1-.293.707l-3.5 3.5a1 1 0 0 1-1.414-1.414L11 11.586V7a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M12 4a8 8 0 1 0 0 16 8 8 0 0 0 0-16zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
