.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  margin-bottom: 0.25rem;
  .pagination {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    .page-item {
      &:first-child {
        .page-link {
          border-top-left-radius: 0.25rem !important;
          border-bottom-left-radius: 0.25rem !important;
        }
      }
      &:last-child {
        .page-link {
          border-top-right-radius: 0.25rem !important;
          border-bottom-right-radius: 0.25rem !important;
        }
      }
      .page-link {
        border: 1px solid inherit;
        border-radius: 0 !important;
        font-size: .875rem;
      }
      .page-select {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -1px;
        width: auto;
        &:focus {
          margin-left: 0;
        }
      }
    }
  }
  .record-info {
    margin-bottom: 0.25rem;
  }
}
@media (min-width: 992px) {
  .pagination-container {
    flex-direction: row;
  }
  .record-info {
    margin-bottom: 0 !important;
  }
}
