#error-explanation {
  border: 1.5px solid var(--bs-danger-border-subtle) !important;
  border-radius: 0.25rem !important;
  padding: 7px;
  padding-bottom: 0;
  background-color: var(--bs-danger-bg-subtle);
  color: var(--bs-body-color);
  margin-bottom: 0.5rem;
  h6 {
    text-align: left;
    font-weight: bold;
    padding: 3px 0px 3px 11px;
    background-color: rgba(var(--bs-danger-rgb), 1)!important;
    min-height: auto;
    border-radius: 0.25rem;
  }
  dl {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  dl dd {
    font-size: 12px;
    list-style: none;
  }
  svg {
    vertical-align: -2px;
    fill: var(--bs-body-color);
  }
}
.required::after {
  color: rgba(var(--bs-danger-rgb), 1) !important;
  content: "\002A";
  margin-left: 0.25rem;
  top: -2px;
  font-weight: bolder;
}
.form-floating > .form-control:focus ~ label::after, .form-floating > .form-control:not(:placeholder-shown) ~ label::after, .form-floating > .form-control-plaintext ~ label::after, .form-floating > .form-select ~ label::after {
  content: "\002A";
  inset: initial;
  background: transparent;
}
.form-control.is-invalid, .form-select.is-invalid {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24'%3E%3Cpath fill='%23ea868f' d='M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10s10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8zm3.59-13L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41z'/%3E%3C/svg%3E");

  background-repeat: no-repeat !important;
  background-position: right 1rem center, center right 2rem !important;
  background-size: 24px 24px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}
.field_with_errors label {
  color: var(--bs-form-invalid-color);
}
label.is-invalid, .was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
  color: var(--bs-form-invalid-color);
}
