@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(16px)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}
.animate-slideUpAndFade {
  animation: slideUpAndFade 0.2s cubic-bezier(0.16, 1, 0.3, 1)
}
