@charset "utf-8";
@import "bootstrap";
@import "mixins";
@import "animators";
@import "nav";
@import "dropdowns";
@import "alerts";
@import "buttons";
@import "cards";
@import "form_elements";
@import "modals";
@import "widgets";
@import "tables";
@import "pagination";
@import "validations";
@import "devise_layout";

html,
body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: "smooth";
}
body {
  font-size: 0.950rem !important;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-image: url("background.svg");
  min-height: 100vh;
  min-width: calc(100vw - 2rem);
  padding-right: 0 !important;
}
a {
  text-decoration: none;
  filter: brightness(100%);
}
a:link {
  transition: none;
}
svg:not(:root) {
  overflow: hidden;
}
[id^="icon-"], [id*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
  text-rendering: auto;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  speak: none;
  fill: currentColor;
}
.middle-dot-divider {
  @include middle-dot-divider;
}
#current-date-time {
  display: flex;
  align-items: center;
  .date, .time {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  }
}
.nav-link, .dropdown-item {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}
.translation_missing {
  color: rgba(var(--bs-danger-rgb),1);
}
:focus {
  box-shadow: none !important;
}
p {
  word-wrap: break-word;
  word-spacing: normal;
  text-align: justify;
  margin-bottom: 0.5rem;
}
.subheader {
  font-weight: 600;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--bs-border-color);
}
.subheader:not(:first-of-type) {
  margin-top: 1rem;
}
.modal-actions, .actions {
  border-top: 1px solid var(--bs-border-color);
  padding-top: 0.5rem;
}
.modal-actions .btn {
  float: right;
}
.modal-actions .btn + .btn {
  margin-right: 0.5rem;
}
.btn + .btn {
  margin-left: 0.5rem;
}
.no-data {
  text-align: center;
  font-weight: bolder;
}
.pretty-json {
  white-space: pre-wrap;
}
.nav-link, .top-menu-link {
  color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  font-size: 0.950rem;
  &:disabled {
    color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  }
  &:hover, &:focus {
    color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  }
  &:active, &.active {
    color: rgba(var(--bs-emphasis-color-rgb), 1);
  }
  &.active {
    font-weight: 500; // applied separately because creates conflicts with :active.
  }
}
.list-item-unread-indicator {
  border-left: 1px solid var(--bs-primary-text-emphasis) !important;
}
.range-container {
  position: relative;
  width: 100%;
  .range-thumb {
    position: absolute;
    padding: 0px 6px;
    background: rgba(var(--bs-primary-rgb), 1);
    border-radius: 0.25rem;
    top: 0%;
    transition: left 0.1s linear;
  }
}
.breadcrumb {
  --bs-breadcrumb-bg: var(--bs-body-bg);
  --bs-breadcrumb-divider: "\00BB";
  --bs-breadcrumb-padding-x: 0.5rem;
  --bs-breadcrumb-padding-y: 0.5rem;
  --bs-breadcrumb-border-radius: 0.25rem;
  --bs-breadcrumb-margin-bottom: 0.5rem;
  border: 1px solid rgba(var(--bs-primary-rgb), 1) !important;
}
