@charset "utf-8";
@import "bootstrap";
@import "mixins";
@import "animators";
@import "nav";
@import "dropdowns";
@import "alerts";
@import "buttons";
@import "cards";
@import "form_elements";
@import "widgets";
@import "tables";
@import "validations";
@import "devise_layout";

html,
body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: "smooth";
}
body {
  font-size: 0.875rem !important;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-image: url("background.svg");
  min-height: 100vh;
  min-width: calc(100vw - 2rem);
  padding-right: 0 !important;
}
a {
  text-decoration: none;
  filter: brightness(100%);
}
a:link {
  transition: none;
}
.logo {
  display: inline-flex;
  span {
    &:nth-of-type(1) {
      color: #2a9d8f;
      &:before {
        content: "Transpo";
      }
    }
    &:nth-of-type(2) {
      color: #e76f51;
      &:before {
        content: "Link";
      }
    }
  }
}
svg:not(:root) {
  overflow: hidden;
}
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
  text-rendering: auto;
  text-transform: none;
  vertical-align: -4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  speak: none;
}
.middle-dot-divider {
  @include middle-dot-divider;
}
#current-date-time {
  display: flex;
  align-items: center;
  .date, .time {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--bs-body-color);
  }
}
.nav-link, .dropdown-item {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}
.nav-link {
  color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  &:disabled {
    color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  }
  &:hover, &:focus {
    color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  }
  &:active {
    color: rgba(var(--bs-emphasis-color-rgb), 1);
  }
}
.translation_missing {
  color: rgba(var(--bs-danger-rgb),1);
}
:focus {
  box-shadow: none !important;
}
p {
  word-wrap: break-word;
  word-spacing: normal;
  text-align: justify;
}
.subheader {
  font-weight: 600;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--bs-border-color);
}
.subheader:first-of-type {
  margin-top: 0;
}
.modal-actions, .actions {
  border-top: 1px solid var(--bs-border-color);
  padding-top: 0.5rem;
}
.no-data {
  text-align: center;
  font-weight: bolder;
}
